body {
  background-color: #f4eeff;
  color: #424874;
}

.jumbotron {
  background-color: #424874;
  color: #a6b1e1;
}

button {
  background-color: #424874;
  color: #a6b1e1;
  border-radius: 12px;
  margin: 20px;
}

.well {
  display:none;
  background-color: white;
  color: #424874;
}