body {
  background-color: #f4eeff;
  color: #424874;
}

.jumbotron {
  background-color: #424874;
  color: #a6b1e1;
}

button {
  background-color: #424874;
  color: #a6b1e1;
  border-radius: 12px;
  margin: 20px;
}

.hidden {
  display:none;
  background-color: white;
  color: #424874;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border: 5px solid #424874;
  padding: 10px;
  margin-bottom: 15px;
}